@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);


.homes{
    background: url('../../assets/home-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    padding: 60px;
}

.home-content{
    background: #FFF3E3;
    padding: 40px;
}

.home-content h3{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.home-content h1{
    font-size: 52px;
    color: #B88E2F;
}

.home-content p{
    font-size: 18px;
    margin-top: 15px;
}

.home-content button{
    padding: 12px 20px;
    background: #B88E2F;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
}

.home-content button:hover{
    background: #A87E2A;
}