header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-size: 16px;
}

nav a{
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.header-icons{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-weight: 900;
    font-size: 20px;
}