footer{
    position: relative;
    background: #fff;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    bottom: 10px;
}

footer span{
    color: #666;
    line-height: 25px;
    font-size: 16px;
}

.footer-logo h1{
    margin-bottom: 30px;
}

.footer-links,
.footer-help,
.footer-newslatter{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links span,
.footer-help span,
.footer-newslatter span {
    margin-bottom: 20px;
}

.footer-newslatter{
    display: flex;
    flex-direction: column;
}

.footer-newslatter .input{
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}

.footer-newslatter input{
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    padding-right: 20px;
}

::placeholder{
    font-size: 14px;
}

.footer-newslatter .input .btn{
    position: relative;
    text-decoration: none;
    border-bottom: 2px solid #000;
    color: #000;
    padding-bottom: 2px;
}